{% extends "layouts/base.html" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% block content %}
    {% include "partials/page-header.html" %}
    <section class="about">
        <div class="wrapper col-section">
            <div class="flow">
                <h2>
                    Misión</h2>
                <p>{{ site.mision }}</p>
                <h2>
                    Visión
                </h2>
                <p>{{ site.vision }}</p>
                <h2>Valores</h2>
                <ul>
                    <li>Solidaridad</li>
                    <li>Humildad</li>
                    <li>Perseverancia</li>
                </ul>
                <h2>Responsabilidad social</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, impedit dignissimos repellat voluptatum eum doloribus molestiae pariatur alias vel fuga.</p>
                <h2>Mártus</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit mollitia molestiae possimus placeat sint quos numquam modi fuga perferendis, assumenda commodi vitae qui quia odit nisi, consequuntur totam. Consequatur, quas quasi doloremque eum voluptatibus aspernatur perferendis necessitatibus voluptatum nulla quae veniam numquam id laboriosam distinctio libero culpa dolor. Voluptatum quae labore eius sint ipsam recusandae iusto, eos asperiores officia consectetur.</p>
            </div>
        </div>
    </section>
{% endblock %}