{% extends "layouts/base.html" %}
{% block content %}
    <section class="intro">
        <div class="wrapper flex align-center">
            <header class="visually-hidden">
                <h1>{{ title }}</h1>
            </header>
            <div class="intro__content text-center flow">
                {% include "partials/logo.svg" %}
                <p>{{ intro.summary }}</p>
                <a href="{{ intro.buttonUrl }}" class="btn">{{ intro.buttonText}}</a>
            </div>
            {% include "partials/carousel.html"%}
        </div>
    </section>
    {% include 'partials/featured-products.html' %}
    <section class="ig clipped-section">
        <div class="wrapper flex align-center">
            <header>
                <h2>Nuestro Instagram</h2>
            </header>
            <div class="ig__profile">
                <div>
                    <img src="" alt="">
                    <a href="http://www.instagram.com/martustienda/" target="_blank" rel="noopener noreferrer">Ver perfil</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about-preview clipped-section" data-background="secondary">
        <div class="wrapper flex align-center">
            <header>
                <h2>Quienes somos</h2>
            </header>
            <div>
                <ul role='list'>
                    <li>
                        <a href="#">Misión</a>
                    </li>
                    <li>
                        <a href="#">Visión</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="/js/carousel.js"></script>
{% endblock %}