{% extends "layouts/base.html" %}
{% block content %}
    <section class="intro">
        <div class="wrapper flex align-center">
            <header class="visually-hidden">
                <h1>{{ title }}</h1>
            </header>
            <div class="intro__content text-center flow">
                {% include "partials/logo.svg" %}
                <p>{{ intro.summary }}</p>
                <a href="{{ intro.buttonUrl }}" class="btn">{{ intro.buttonText }}</a>
            </div>
            {% include "partials/carousel.html" %}
        </div>
    </section>
    <section class="products" id="productos" tabindex="-1">
        <div class="wrapper">
            <header>
                <h2>{{ featuredProducts.title }}</h2>
            </header>
            {% set productGridCollection = collections.featuredProducts %}
            {% include 'partials/product-grid.html' %}
        </div>
    </section>
    <section class="ig clipped-section">
        <div class="wrapper flex align-center">
            <header>
                <h2>Siguenos en Instagram</h2>
            </header>
            <div class="ig__profile card radius">
                <div class="card__content flow">
                    <img src="/images/ig-profile.svg" alt="" loading="lazy"/>
                    <a href="http://www.instagram.com/martustienda/" target="_blank" rel="noopener noreferrer" class="card__link">
                        @martustienda
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="about-preview clipped-section" data-background="secondary">
        <div class="wrapper flex align-center">
            <header>
                <h2>Quienes somos</h2>
            </header>
            <div>
                <ul role='list' class="flow">
                    <li>
                        <details>
                            <summary>Misión</summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sequi nobis pariatur totam assumenda dolorum ipsa molestias impedit fuga molestiae, amet dolore maiores magni error iusto dolores voluptates porro sapiente.
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Visión</summary>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam doloremque eius quidem, corporis perspiciatis repudiandae voluptatibus expedita laudantium numquam, voluptates saepe sapiente ea reprehenderit deleniti. Ipsam sed sequi quibusdam, sunt dolore eos?
                        </details>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="/js/carousel.js"></script>
{% endblock %}