.clipped-section {
    position: relative;
    padding: 8rem 0;
    color: var(--clr-light);

    header {
        flex-basis: 65%;
        text-align: center;

        h2 {
            font-weight: 800;
        }
        + * {
            flex-basis: 35%;

            a {
                text-decoration: none;
            }
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    &::before {
        background-color: var(--clr-primary);
    }

    &::after {
        opacity: 0.2;
        background-position: left -15vw bottom -15vw, right -15vw top -10vw;
        background-size: max(50vw, 30rem), max(30vw, 20rem);
        background-repeat: no-repeat;
    }

    &[data-background="secondary"] {
        &::before {
            background-color: var(--clr-secondary);
        }
    }

    @media (min-width: 50em) {
        &::before,
        &::after {
            clip-path: polygon(0 0, 50% 0, 65% 100%, 0 100%);
        }

        &::after {
            background-position: left -15vw bottom -15vw, right 35vw top -10vw;
        }

        header + * {
            color: var(--clr-tertiary);
        }

        &:nth-child(2n) {
            header {
                order: 2;
            }

            &::before,
            &::after {
                clip-path: polygon(100% 0, 50% 0, 35% 100%, 100% 100%);
            }

            &::after {
                background-position: right -15vw top -15vw,
                    left 35vw bottom -10vw;
            }
        }
    }
}
