.clipped-section {
    position: relative;
    padding: 8rem 0;
    color: var(--clr-light);

    header {
        flex-basis: 65%;
        text-align: center;

        h2 {
            font-weight: 800;
        }
        + * {
            flex-basis: 35%;

            a {
                text-decoration: none;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: var(--clr-primary);
    }

    &[data-background="secondary"] {
        &::before {
            background-color: var(--clr-secondary);
        }
    }

    @media (min-width: 50em) {
        &::before {
            clip-path: polygon(0 0, 50% 0, 65% 100%, 0 100%);
        }

        header + * {
            color: var(--clr-tertiary);
        }

        &:nth-child(2n) {
            header {
                order: 2;
            }

            &::before {
                clip-path: polygon(100% 0, 50% 0, 35% 100%, 100% 100%);
            }
        }
    }
}
