.footer-social {
    display: flex;
    justify-content: center;
    margin-top: 1rem !important;

    > * + * {
        margin-left: 1rem;
    }

    a {
        &:hover,
        &:focus {
            color: var(--clr-secondary);
        }
    }

    @media (min-width: 50em) {
        justify-content: flex-end;
    }
}
