.permanent-contact {
    display: grid;
    position: fixed;
    float: right;
    bottom: 2rem;
    right: 2rem;
    background-image: linear-gradient(
        112.42deg,
        #22ce5a 0%,
        #22ce5a 0.01%,
        #30bf42 100%
    );
    color: var(--clr-light);
    box-shadow: 0px 0px 8px 0px rgba(194, 194, 194, 1);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    place-items: center;
    margin-top: 1rem;

    &:hover,
    &:focus {
        opacity: 0.5;
    }
}
