.site-head {
    padding: 0.6rem 0;
    background: var(--clr-light);
    color: var(--clr-tertiary);
    line-height: 1.1;
    margin-bottom: 2em;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0 1rem;
    }

    &__brand {
        display: block;

        svg {
            max-width: 10rem;
        }
    }
}
