@import "reset";

// Global styles start
:root {
    --clr-primary: #b21427;
    --clr-secondary: rgb(255, 182, 0);
    --clr-secondary-shade: rgba(255, 182, 0, 0.4);
    --clr-tertiary: #1d1d45;
    --clr-light: #fff;
    --clr-dark: #000;

    --spacer: 1rem;

    --ff: "Poppins", sans-serif;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff);
    font-weight: 200;
    font-size: 1.25rem;
}

h1,
h2,
h3 {
    font-weight: 600;
    line-height: 1.1;
    max-width: 30ch;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

a {
    color: currentColor;
    display: inline-block;
}

:focus {
    outline: 1px dotted currentColor;
    outline-offset: 0.2rem;
}

p,
li,
dl {
    max-width: 70ch;
}

article {
    margin-top: 2.5rem;
    font-size: 1.125rem;
}

section {
    padding: calc(2 * var(--spacer)) 0;
    header {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}

main:focus {
    outline: none;
}

@media (min-width: 40rem) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    section {
        padding: calc(3 * var(--spacer)) 0;
    }
    .flex header {
        margin: 0;
    }
}

// Import blocks
@import "blocks/site-head";
@import "blocks/navigation";
@import "blocks/burger-menu";
@import "blocks/skip-link";
@import "blocks/clipped-section";
@import "blocks/card";

// Import utilities
@import "utilities/flow";
@import "utilities/radius";
@import "utilities/site-wrap";
@import "utilities/visually-hidden";
@import "utilities/wrapper";
@import "utilities/faded-line";
@import "utilities/text";
@import "utilities/flex";
@import "utilities/auto-grid";
@import "utilities/btn";
