<div class="carousel">
    <div class="carousel__item visible">
        <img src="https://source.unsplash.com/random?bible" alt=""/>
    </div>
    <div class="carousel__item">
        <img src="https://source.unsplash.com/random?ocean" alt=""/>
    </div>
    <div class="carousel__item">
        <img src="https://source.unsplash.com/random?germany" alt=""/>
    </div>
    <div class="carousel__actions">
        <button id="carouselItemPrev" aria-label="Previous slide" data-direction="left"></button>
        <button id="carouselItemNext" aria-label="Next slide" data-direction="right"></button>
    </div>
</div>