<section class="products" id="productos">
    <div class="wrapper">
        <header>
            <h2>{{ featuredProducts.title }}</h2>
        </header>
        <ul class="auto-grid" role="list">
            {% for item in collections.featuredProducts %}
                <li class="card flow">
                    <div class="card__media">
                        <img src="{{ item.data.hero.image }}" alt="{{ item.data.hero.imageAlt }}" loading="lazy" class="radius"/>
                    </div>
                    <div class="card__content flow">
                        <h3 class="title">{{ item.data.title }}</h3>
                        <p class="description">{{ item.data.summary }}</p>
                        <p class="price">$
                            {{ item.data.price }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>