<ul class="footer-social" role="list">
    <li>
        <a href="https://www.instagram.com/{{ site.social.instagram }}/" target="_blank" rel="noopener noreferrer" aria-label="instagram">
            {% include "partials/instagram.svg" %}
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank" rel="noopener noreferrer" aria-label="facebook">
            {% include "partials/facebook.svg" %}
        </a>
    </li>
    <li>
        <a href="https://wa.me/{{ site.social.whatsapp }}" target="_blank" rel="noopener noreferrer" aria-label="whatsapp">
            {% include "partials/whatsapp.svg" %}
        </a>
    </li>
</ul>