<header class="site-head" role="banner">
    <a href="#main-content" class="skip-link">Saltar al contenido</a>
    <div class="wrapper">
        <div class="site-head__inner">
            <burger-menu max-width="600">
                <nav class="navigation" aria-label="primary">
                    <ul role="list">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Our Work</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Your account</a>
                        </li>
                    </ul>
                </nav>
            </burger-menu>
            <a href="/" aria-label="MÁRTUS PÁGINA PRINCIPAL" class="site-head__brand">
                {% include "partials/brand.svg" %}
            </a>

        </div>
    </div>
</header>