<footer class="site-foot">
    <div class="wrapper">
        <div class="site-foot__inner flex align-center faded-line">
            <nav class="site-foot__navigation">
                <ul role="list">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Our Work</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">Your account</a>
                    </li>
                </ul>
            </nav>
            <dl>
                <dt>Contacto</dt>
                <dd>
                    <a href="tel:+57 3234801748">Tel: 323 4801748</a>
                </dd>
            </dl>
        </div>
        <div>
            <p class="copyright">&copy; 2021 Mártus. Desarrollado por
                <a href="http://www.jesusenlaweb.com" target="_blank" rel="noopener noreferrer">Jesús en la web</a>
                y diseñado por
                <a href="#" target="_blank" rel="noopener noreferrer">Santiago Arango</a>.
            </p>
        </div>
    </div>
</footer>